@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #B7154A;
  --color-secondary: #D8B067;
  --text-color: #1E1E1E;
}

body {
  color: var(--text-color);
  background: white;
  font-family: 'Times New Roman', Times, serif;
}

@layer utilities {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@import url("./main.css");